[Unit]
Description=A Simple File Server
Documentation=https://github.com/fractalbach/ninjatools/
After=networking.target

[Service]
User=user
Type=simple
WorkingDirectory=$HOME/Desktop/example/
ExecStart=$HOME/go/bin/simpleServer -a :80
StandardError=journal

[Install]
WantedBy=multi-user.target
