[Unit]
Description=A Simple File Server
Documentation=https://github.com/fractalbach/ninjatools/
After=networking.target

[Service]
User=pi
Type=simple
WorkingDirectory=/srv/example/
ExecStart=/bin/bash /home/pi/go/bin/simpleServer -a :8080
StandardError=journal

[Install]
WantedBy=multi-user.target
